In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
from spectral_denoising.file_io import read_msp

In [6]:
read_msp('../sample_data/quene_spectra.msp')

/opt/homebrew/Caskroom/miniforge/base/envs/test_env/lib/python3.12/site-packages/spectral_denoising/file_io.py:59: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[column] = pd.to_numeric(df[column], errors='ignore')

,name,peaks,precursor_mz,num peaks
0,unknown,"[[55.05794906616211, 26.0], [60.98749923706055...",291.069435,11
1,unknown,"[[40.018550872802734, 937.0], [41.028869628906...",113.033490,16
2,unknown,"[[40.018550872802734, 382.0], [41.041454315185...",244.092623,62
3,unknown,"[[40.019439697265625, 373.0], [41.041454315185...",137.046177,40
4,unknown,"[[43.01823425292969, 31.0], [46.99576187133789...",159.026448,18
...,...,...,...,...
560,unknown,"[[41.03775405883789, 3316.0], [42.032608032226...",142.121188,76
561,unknown,"[[41.0360221862793, 123.0], [42.03267669677734...",176.069709,85
562,unknown,"[[41.037696838378906, 1311.0], [41.23571395874...",414.337014,983
563,unknown,"[[99.02277374267578, 26.0], [101.0608444213867...",352.116991,96
564,unknown,"[[44.05249786376953, 15.0], [77.03397369384766...",623.309714,170